---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "AstroBlog";
---

<BaseLayout pageTitle={pageTitle}>

		<p>Welcome to the freaking blog. Can't I write in markdown?? Whats with all this html? <br>
           Turns out those are in separate .md files. This is all still html.
        </p>

        <h2>My Astro Learning Blog</h2>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul>
          {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
</BaseLayout>
