---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/first-astro/favicon.svg" />
		<link rel="icon" href="/first-astro/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		
        <a href={import.meta.env.BASE_URL + "/index"} >Home</a>
        <a href={import.meta.env.BASE_URL + "/about/"} >About</a>
        <a href={import.meta.env.BASE_URL + "/blog/"} >Blog</a>

		<h1>Astroworld Blog!!!11!</h1>

		<p>Welcome to the freaking blog. Can't I write in markdown?? Whats with all this html dawg?
        </p>

        yoooo. I can write in markdown!!!
        #sup
        its not doing page breaks though... </br>
        I can't remember other markdown commands. *How about italics?* Nope.. </br>
        **Double italics?** Nope.

	</body>
</html>
